.EmployerProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-shadow: 0 4px 6px rgba(222, 48, 48, 0.1);
    border-radius: 8px;
    border: 1px solid #eaeaea;
    gap: 2vh;

    .Company-Profile, .company-contact, .company-links {
        width: 100%;
        display: flex;
        flex-direction: column;

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1vh 3vh 1vh 3vh;
            border-bottom: 2px solid #b7b5b5;

            h2 {}

            .editbutton {
                padding: 10px;
                background-color: #4CAF50;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;

            }
        }

        .company-info, .contact-info, .social-links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2vh;

            .group {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                input {
                    padding: 10px;
                }
            }
            @media (max-width: 500px) {
                grid-template-columns: 1fr;
                gap: 1vh;
            }
        }

        .company-description {
            display: flex;
            flex-direction: column;

        }
    }
}