.FindCompanies {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding: 2vh;

  .search {
    display: flex;
    gap: 2vh;

    @media (max-width:750px) {
      flex-direction: column;
    }

    .filters {
      display: flex;
      flex-direction: column;
      gap: 1vh;
      width: 250px;
      animation: fadeInLeft 1s ease-in-out;

      @media (max-width:750px) {
        width: 100%;
      }

      input, .sort select,
      .Select__control {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        transition: all 0.3s ease;
        width: 100%;

        &:hover {
          border-color: #007bff;
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
        }
      }
    }

    .companies {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(4, 250px);
      column-gap: 2vw;
      row-gap: 2vh;
      justify-content: center;

      @media (max-width:1240px) {
        grid-template-columns: repeat(3, 250px);
      }

      @media (max-width:1000px) {
        grid-template-columns: repeat(2, 250px);
      }

      @media (max-width:800px) {
        grid-template-columns: repeat(2, 250px);
      }

      @media (max-width:600px) {
        grid-template-columns: repeat(1, 300px);
      }

      .companyCard {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        border: 1px solid grey;
        padding: 10px;
        border-radius: 10px;
        animation: fadeInUp 1s ease-in-out;
        transition: all 0.3s ease-in-out;


        &:hover {
          transform: scale(1.05);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        }

        .logo {
          display: flex;
          gap: 1vw;

          img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            object-fit: cover;
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.1);
            }
          }

          .company-info {
            display: flex;
            flex-direction: column;
            gap: 1vh;

            h3 {
              font-size: large;
              font-weight: bold;
              color: #333;
            }

            button {
              padding: 5px 10px;
              border-radius: 5px;
              font-size: 13px;
              border: none;
              background-color: #007bff;
              color: white;
              cursor: pointer;
              transition: all 0.3s ease;
              width: fit-content;

              &:hover {
                background-color: #0056b3;
              }
            }


          }
        }

        .industry-location {
          display: flex;
          gap: 0.5vh;
          flex-wrap: wrap;

          p {
            border: 1px solid #ddd;
            background-color: #f4f4f4;
            padding: 3px 7px;
            font-size: 12px;
            border-radius: 5px;
            color: #666;

            &:hover {
              background-color: #e9e9e9;
            }
          }
        }

        button {
          font-size: large;
          color: #007bff;
          cursor: pointer;
          transition: color 0.3s ease;
          width: fit-content;
          margin: 0 auto;
          padding: 0.5vh 0.5vw;
          border-radius: 10px;
          border: 1px solid grey;

          &:hover {
            color: white;
            background-color: #007bff;
          }
        }
      }
    }
  }

  // Animations
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}