.Findjobs {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 2vh;

    .search {
        display: flex;
        gap: 2vh;

        @media (max-width:750px) {
            flex-direction: column;
        }

        .filters {
            display: flex;
            flex-direction: column;
            gap: 1vh;
            width: 250px;
            animation: fadeInLeft 1s ease-in-out;

            @media (max-width:750px) {
                width: 100%;
            }

            .inputs {
                display: flex;
                flex-direction: column;

                @media (max-width:750px) {
                    gap: 1vh;
                }

                input {
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px;
                    transition: all 0.3s ease-in-out;

                    &:focus {
                        border-color: #4CAF50;
                        outline: none;
                        box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
                    }
                }

                .sort {
                    display: flex;

                    select {
                        width: 100%;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        padding: 10px;
                        transition: all 0.3s ease-in-out;

                        &:focus {
                            border-color: #4CAF50;
                            outline: none;
                            box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
                        }
                    }

                }
            }

            .checkboxes {
                display: flex;
                flex-direction: column;
                gap: 1vh;

                .checkbox-group {
                    display: flex;
                    flex-direction: column;

                    label {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        animation: fadeIn 0.8s ease-in-out;

                        input {
                            accent-color: #4CAF50;
                        }

                        &:hover {
                            color: #4CAF50;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .jobs {
            flex: 1;
            display: grid;
            grid-template-columns: repeat(4, 250px);
            column-gap: 2vw;
            row-gap: 2vh;
            justify-content: center;

            @media (max-width:1240px) {
                grid-template-columns: repeat(3, 250px);
            }

            @media (max-width:1000px) {
                grid-template-columns: repeat(2, 250px);
            }

            @media (max-width:800px) {
                grid-template-columns: repeat(2, 250px);
            }

            @media (max-width:600px) {
                grid-template-columns: repeat(1, 300px);
            }

            .jobcard {
                display: flex;
                flex-direction: column;
                gap: 1vh;
                border: 1px solid grey;
                padding: 10px;
                border-radius: 10px;
                animation: fadeInUp 1s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
                }

                .jobcardtop {
                    display: flex;
                    justify-content: space-between;

                    .company-info {
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 10px;
                        }

                        h2 {
                            font-size: 15px;
                        }
                    }

                    .links-info {
                        display: flex;
                        gap: 1vh;
                        align-items: center;
                        height: fit-content;

                        button {
                            padding: 10px;
                            background-color: #4CAF50;
                            color: white;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                            height: fit-content;
                            transition: background-color 0.3s ease-in-out;

                            &:hover {
                                background-color: #45A049;
                            }
                        }

                        svg {
                            cursor: pointer;
                            font-size: 1.5rem;
                            color: #4CAF50;
                            transition: color 0.3s ease-in-out;

                            &:hover {
                                color: #45A049;
                            }
                        }
                    }
                }

                .jobcardbottom {
                    display: flex;
                    flex-direction: column;
                    gap: 2vh;

                    h2 {
                        font-size: 20px;
                    }

                    .job-info {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;

                        p {
                            background-color: dodgerblue;
                            border-radius: 5px;
                            padding: 2px 5px;
                            color: white;
                            font-size: 15px;
                            font-weight: 600;
                            display: flex;
                            align-items: center;
                            animation: fadeIn 1s ease-in-out;

                            img {
                                width: 15px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}