.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  border-bottom: 1px solid #eaeaea;
  height: 10vh;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: #f8f8f8;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      transition: transform 0.3s ease;

      &:hover {
        transform: rotate(360deg);
      }
    }

    .logo-title {
      h2 {
        margin: 0;
        font-size: 1.5rem;
        color: #333;
        transition: color 0.3s ease;

        &:hover {
          color: #007bff;
        }
      }

      p {
        margin: 0;
        font-size: 0.875rem;
        color: #777;
      }
    }
  }

  .nav-links {
    display: flex;
    gap: 15px;
    transition: opacity 0.3s ease-in-out;

    a {
      text-decoration: none;
      color: #333;
      padding: 8px 15px;
      border-radius: 5px;
      border: 1px solid transparent;
      font-weight: 600;
      transition: all 0.3s ease;

      &:hover {
        background-color: #007bff;
        color: #fff;
        border: 1px solid #007bff;
      }
      &.active {
        background-color: #007bff;
        color: white;
        border: 1px solid #007bff;
      }
    }

    @media (max-width: 550px) {
      display: none;
    }
  }

  .nav-auth {
    display: flex;
    gap: 1rem;

    a {
      color: #007bff;
      font-size: 1rem;
      font-weight: 600;
      border: 1px solid #007bff;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #007bff;
        color: #fff;
      }
    }
  }

  .avatar-container {
    position: relative;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.3s ease;

      img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .dropdown-menu {
      position: absolute;
      top: 5vh;
      right: 0;
      background: #fff;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      opacity: 0;   /* Initially hidden */
      visibility: hidden;
      transform: translateY(-10px);  /* Initial position */
      transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
      
      &.visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: opacity 0.3s ease, transform 0.3s ease;
      }
    
      .dropdown-item {
        display: block;
        padding: 10px 15px;
        color: #333;
        text-decoration: none;
        font-weight: 600;
        transition: background-color 0.3s ease, transform 0.3s ease;
        opacity: 0;  /* Initially hidden */
        transform: translateY(20px);  /* Start from below */
        animation: slideInn 0.3s forwards;
    
        &:hover {
          background-color: #498ecf;
        }
    
        &:nth-child(1) {
          animation-delay: 0s;
        }
    
        &:nth-child(2) {
          animation-delay: 0.1s;
        }
    
        &:nth-child(3) {
          animation-delay: 0.2s;
        }
    
        &:nth-child(4) {
          animation-delay: 0.3s;
        }
    
        &:nth-child(5) {
          animation-delay: 0.4s;
        }
    
        &:nth-child(6) {
          animation-delay: 0.5s;
        }
    
        &:nth-child(7) {
          animation-delay: 0.6s;
        }
      }
    }
  }

  @media (max-width: 450px) {
    .nav-auth {
      flex-direction: column;
      gap: 10px;

      a {
        padding: 5px 10px;
      }
    }
  }
}

@keyframes slideInn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
